<launch>
    <!-- Turtlesim Node-->
    <node pkg="turtlesim" type="turtlesim_node" name="sim"/>
    <node pkg="turtlesim" type="turtle_teleop_key" name="teleop" output="screen"/>
    
    <!-- tf -->
    <node pkg="test_tf" type="broadcaster.py" name="turtle1_tf_broadcaster" respawn="false" output="screen" >
        <param name="turtle" type="string" value="turtle1" />
    </node>
    <node pkg="test_tf" type="broadcaster.py" name="turtle2_tf_broadcaster" respawn="false" output="screen" >
        <param name="turtle" type="string" value="turtle2" /> 
    </node>
    <node pkg="test_tf" type="listener.py" name="listener" />
    <node pkg="test_tf" type="add_frame.py" name="fixed_tf_broadcaster" />

    <!-- RVIZ -->
    <arg name="rvizconfig" default="$(find test_tf)/rviz/turtlesim.rviz" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" required="true"/>

</launch>
